<%- include partials/header -%> 

<h1>Home</h1>
<p> <%= homeStartingContent %> </p> 
  <%  getBlog.forEach(function(elements) { %>
   <h1><%= elements.blogTitle %></h1>
   <p> <%= elements.blogBody.substring(0,100)+"...." %> <a href="posts/<%= elements._id %>">Read More</a></p>
   <% }); %>



   <script src="lodash.js"></script>
   <%- include partials/footer -%> 

